.header{position:fixed;top:0;left:0;width:100%;display:flex;min-height:52px;width:100%;height:var(--header-height);padding-right:16px;background-color:var(--base-color-primary-800);border-bottom:1px solid var(--border-color-light);z-index:130;}
.header .lnbToggle-btn{display:flex;align-items: center;justify-content: center;color:rgba(255,255,255,.9);background-color:var(--base-color-primary-900);width:55px;height:100%;margin-right:16px;transition: .3s;}
.header .logo-area{display:flex;align-items:center;height:100%;}
.header .logo-area h1{display: flex;}
.header .logo-area .sub-tit{display:flex;align-items:center;color:var(--base-color-white);font-weight:500;font-size:18px;}

.header .right-area{display:flex;align-items: center;margin-left:auto;}
.header .right-area .my-btn{display:flex;align-items: center;}
.header .right-area .my-btn .name{margin-right:4px;font-size:14px;line-height:26px;color:var(--base-color-white);}

/* 마이메뉴 */
.my-dropdown{position:fixed;top:48px;right:16px;width:240px;background-color: var(--base-color-white);border:1px solid var(--border-color-default);border-radius: var(--border-radius-lg);box-shadow: var(--shadow-md)}
.my-dropdown .my-info{@include typo-body-md-regular;padding:12px 14px;border-bottom:1px solid var(--border-color-light);color:var(--text-color-400)}
.my-dropdown .my-list{padding:6px 6px;}
.my-dropdown .my-list-item button{display:flex;width:100%;padding:0 8px;height:44px;align-items: center;border-radius: var(--border-radius-md);}
.my-dropdown .my-list-item:hover{background-color: var(--bg-color-default);}
.my-dropdown .my-list-item .label{@include typo-body-lg-medium;flex:1;text-align: left;margin-left:8px;}

.my-dropdown .sub-menu{padding:16px 16px 24px;}
.my-dropdown .sub-menu-head{display:flex;align-items: center}
.my-dropdown .sub-menu-head .tit{@include typo-heading-sm-semibold;margin-left:8px;}

.my-dropdown .themeSel-area{display:flex;justify-content:space-around;margin-top:16px;}
.my-dropdown .themeSel-area svg{color:var(--bg-color-primary);}

.my-dropdown .themeSel-area label{display:inline-flex;align-items: center;justify-content: center;width:28px;height:28px;border-radius: 50%;font-size:0;cursor: pointer;}
.my-dropdown .themeSel-area input{position: absolute;top:-9999px;left:-9999px;}
.my-dropdown .themeSel-area input:checked + label::after{
  content:'';
  display:block;
  width:28px;
  height:28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='11' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M13.53.97a.75.75 0 0 1 0 1.06l-8.25 8.25a.75.75 0 0 1-1.06 0L.47 6.53a.75.75 0 0 1 1.06-1.06l3.22 3.22L12.47.97a.75.75 0 0 1 1.06 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size:16px;
}
#admin-theme-mint + label{background-color:var(--base-color-mint-500);border:2px solid var(--base-color-mint-600)}
#admin-theme-red + label{background-color:var(--base-color-red-500);border:2px solid var(--base-color-red-600)}
#admin-theme-green + label{background-color:var(--base-color-green-500);border:2px solid var(--base-color-green-600)}
#admin-theme-blue + label{background-color:var(--base-color-blue-500);border:2px solid var(--base-color-blue-600)}
#admin-theme-purple + label{background-color:var(--base-color-purple-500);border:2px solid var(--base-color-purple-600)}
#admin-theme-black + label{background-color:var(--base-color-black-500);border:2px solid var(--base-color-black-600)}

.header .layer-pageLink{width:180px;}
.header .layer-pageLink .layer-tit{padding:10px 12px;}
.header .layer-pageLink .dropdown-list{border-top:1px solid var(--border-color-light)}
.header .dropdown-list-item{padding:8px 12px;}
.header .dropdown-list-item a{display:flex;align-items: center;justify-content:space-between;}
.header .btn-jump{margin-left:6px;border:1px solid rgba(255,255,255,.3);border-radius: 50%;}
