/* 로그인 */
.login-page{min-width:800px;height:100vh;background-color:var(--bg-color-default);}
.login-page .logo-area{display:flex;align-items: center;justify-content: center;margin-bottom:40px;}
.login-page .logo-area .sub-tit{position:relative;display:flex;align-items: center;font-size:22px;font-weight:bold;color:#343C5D;}

.login-page label{font-size:15px;font-weight:500;margin-bottom:4px;}
.login-page .login-form{position: relative;top:calc(50%);transform:translateY(-50%);padding-top:150px;width:500px;margin:0 auto;padding:48px;background-color:var(--base-color-white);border-radius: var(--border-radius-lg);}
.login-page .login-form .form-block{margin-bottom:20px;}
.login-page .login-form .submit-btn{margin:0 0 32px;}

.login-page .form-area{position: relative;}
.login-page .form-area .ico-box{display:flex;align-items: center;justify-content: center;position:absolute;margin-left:18px;height:50px;}
.login-page .form-area input{padding-left:48px !important;}

.login-page .copyright{margin-top:24px;text-align: center;font-size:13px;color:var(--text-color-lighter)}