.advisorSet-page{
  .theme-gray .ui-preview .ui-preview-cont .ui-preview-back,
  .theme-gray .ui-preview .ui-droppable-active,
  
  .theme-gray #ui-rate-range {
    background-color: #DFF0FF;
  }
  .theme-gray .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in {
    border-color: #D1D1D1;
    background-color: #DFF0FF;
  }
  .theme-gray .sound-player,
  .theme-gray .ui-preview,
  .theme-gray .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in.disabled,
  .theme-gray .nav-left .btn-left-accordion {
    background-color: #F5F5F5;
  }
  .theme-gray .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in:hover {
    background-color: #C6E4FF;
  }
  .theme-gray .ui-preview .ui-droppable-hover .ui-draggable-handle {
    background-color: #FEFEE3 !important;
  }
  .theme-gray .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in.disabled:hover {
    background-color: #f1efeb;
  }
  
  .custom-compo-select > .select-compo{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.5L8 11.5L14 6.5' stroke='%236E7A8C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  
  /* 화면설정 : 컴포넌트 셀렉트*/
  .custom-compo-select {position:relative;}
  .custom-compo-select > .select-compo {font-size:13px;border: 1px solid #CFD2E1;background-color:#fff;cursor:default;background-repeat:no-repeat;background-position:calc(100% - 7px);background-size:13px 13px;height:32px;border-radius:4px;padding:5px 20px 5px 5px;}
  .custom-compo-select > .compo-select-wrap {display:none;position:absolute;font-size:12px;width:100%;background-color:#fff;border:1px solid #CFD2E1;border-radius:4px;padding:3px;z-index:3;max-height:300px;overflow-x:hidden;overflow-y:auto}
  .custom-compo-select > .compo-select-wrap:hover {cursor:default}
  .custom-compo-select > .compo-select-wrap > ul > li > label > input {margin-right:5px;}
  .custom-compo-select > .compo-select-wrap > ul > li label {display:block;padding:5px 6px 4px;display:flex;line-height:1.3em;}
  .custom-compo-select > .compo-select-wrap > ul > li label:hover {background:#f0f3f5;}
  .custom-compo-select > .compo-select-wrap > ul > li > ul > li label {padding-left:20px;}
  .custom-compo-select > .compo-select-wrap > ul > li > ul > li input {margin-right:5px;}
  .custom-compo-select > .compo-select-wrap > ul li.checked > label {background:#f0f3f5;}
  .custom-compo-select > .compo-select-wrap > ul li.disabled > label {color:#CFD2E1}
  
  .custom-compo-select > .select-compo, 
  .custom-compo-select > .compo-select-wrap {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
  
  .ui-rate-preview {display:flex;border-right:1px solid ;border-color:var(--border-color-default)}
  .ui-rate-preview > div {padding:5px 5px 5px;border-width:0 0 1px 1px;border-color:var(--border-color-default);border-style: solid;text-align:center;font-size:12px;line-height:1em;}
  .ui-rate-preview .hiddenCol {display:none;}
  #ui-rate-range .slide-ruler[data-value=free]{border-color:var(--border-color-default)}
  
  /* 화면설정 slider custom */
  #ui-rate-range .ui-slider-range {background-color:#fff !important;}
  #ui-rate-range { pointer-events: none; }
  #ui-rate-range .ui-slider-handle { pointer-events: auto; }
  #ui-rate-range.ui-slider-disabled {opacity:1 !important;}
  #ui-rate-range.ui-slider-disabled .ui-slider-handle {display:none}
  #ui-rate-range .slide-ruler {margin-top:-7px;width:100%;height:7px;border-right:1px solid ;
    background-image:linear-gradient(90deg, #DFE2E8 0 1px, transparent 0);
    background-repeat: repeat-x;
  }
  #ui-rate-range .slide-ruler[data-value='fixed'] {background-size: calc(100% / 12) 7px;}
  #ui-rate-range .slide-ruler[data-value='free'] {background-size: calc(100% / 10) 7px;}
  
  /* 테마 선택 */
  .theme-label {width:18px;height:18px;border-radius:3px;border:1px solid #CFD2E1}
  .theme-label:before,
  .theme-label:after {top:1px;left:-23px;}
  .theme-label.type-grayblue {background-color:#dde5f5;}
  .theme-label.type-brown {background-color:#f1e3d5;}
  .theme-label.type-green {background-color:#c9ebe8;}
  .theme-label.type-purple {background-color:#f7dfff;}
  .theme-label.type-gray {background-color:#cecece;}
  
  /*리셋*/
  .theme-label{position: relative;top:3px;}
  
  /* 소제목 */
  #ui-setting .cont-sub-tit {display: flex;align-items: center;padding-bottom: 7px;}
  #ui-setting .cont-sub-tit .sub-tit {color: var(--text-color-lighter);letter-spacing: -0.02em;padding-left:7px;font-size:13px;}
  #ui-setting .cont-sub-tit > .sub-tit {margin-left:auto;}
  #ui-setting .cont-sub-tit .btn-tiny {margin-top:-3px;}
  #ui-setting .cont-sub-tit .btn-tiny > i {position:relative;margin-top:-2px;}
  
  #ui-setting form > div{border-bottom:1px solid #eee;padding-bottom:20px;}
  #ui-setting form > div:last-child{border:0;padding-bottom:0;}
  #ui-setting .row{margin-left:0;margin-right:0;}
  
  /* 화면설정 */
  .ui-preview {display:flex;border-radius:6px;padding:8px 0 8px 8px;height:160px;}
  .ui-preview .ui-preview-col {padding-right:8px;height:100%;}
  .ui-preview .ui-preview-cont {height:100%;}
  .ui-preview .ui-preview-cont .ui-preview-back {height:50%;border-radius:4px;}
  .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in {border-radius:4px;border:1px solid var(--border-color-default);font-size:12px;}
  .ui-preview .ui-preview-cont .ui-preview-back:first-child .ui-preview-cont-in{height:100%;border-radius:4px 4px 0 0;}
  .ui-preview .ui-preview-cont .ui-preview-back:last-child .ui-preview-cont-in{height:calc(100% + 1px);border-radius:0 0 4px 4px;margin-top:-1px;}
  .ui-preview .ui-preview-cont .ui-preview-back .ui-preview-cont-in:hover {cursor:move}
  .ui-preview .ui-preview-cont-in {padding:5px;}
  .ui-preview .ui-draggable-dragging {z-index:1;box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 6px;opacity:.8 !important;}
  .ui-rate-preview {display:flex;}
  .ui-rate-preview > div {padding:0 5px 5px;border-width:0 0 1px 1px;border-style: solid;text-align:center;font-size:12px;line-height:1em;}
  .ui-rate-preview .hiddenCol {display:none;}
  
  /* 화면설정 slider custom */
  #ui-rate-range .ui-slider-range {background-color:#fff !important;}
  #ui-rate-range { pointer-events: none; }
  #ui-rate-range .ui-slider-handle { pointer-events: auto; }
  #ui-rate-range.ui-slider-disabled {opacity:1 !important;}
  #ui-rate-range.ui-slider-disabled .ui-slider-handle {display:none}
  #ui-rate-range .slide-ruler {margin-top:-7px;width:100%;height:7px;border-right:1px solid var(--border-color-default);
    background-image:linear-gradient(90deg, #DFE2E8 0 1px, transparent 0);
    background-repeat: repeat-x;
  }
  #ui-rate-range .slide-ruler[data-value='fixed'] {background-size: calc(100% / 12) 7px;}
  #ui-rate-range .slide-ruler[data-value='free'] {background-size: calc(100% / 10) 7px;}
  
  .modal-uisetting form > div{border-bottom:1px solid var(--border-color-light);padding-bottom:24px;}
  .modal-uisetting form > div:last-child{border-bottom:0;}

  .modal-uisetting .modal-body{padding:0 24px 24px;}
  .modal-uisetting .top-area{margin:0 -24px;padding:20px 24px;}
  
  .modal-uisetting .inner_box{padding:16px 16px 0 16px;border:1px solid var(--border-color-default);border-radius: var(--border-radius-md);}
  .modal-uisetting .saveBtn-area{margin:0 -16px;padding:10px 16px;border-top:1px solid var(--border-color-default)}
}


